*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS' ,sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: url(backgroundimage.jpg)no-repeat;
    background-size: cover;
}
header{
    border: 1px solid #fff5ee;
    background-color: #fff5ee;
    border-width: 100%;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
    top: 0px;
}
.head{
    display: flex;  
    align-items: center;
    padding-top: 15px;
}
.name{
    width: 400px;
    margin-left: 20px;
}

.one{
    margin-left: 300px;
    font-size: 25px;
    width: 600px;
}
a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.one a:hover{
    color: rgb(207, 212, 216);
    transition: 0.3s;
}
.web{
   
    color:black;
    font-size: 30px;
    padding-left: 100px;
}
.web1{
    display: inline-block;
}
.container{
    height: 500px;
    width: 800px;
}
.content{
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-top: 200px;
    padding-left: 100px;
}
button{
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
    border-width: 2px;
    width: 200px;
    height: 40px;
    color: black;
    border-radius: 20px;
    margin-top: 50px;
    
}
.link{
    margin-left: 110px;
    margin-top: 10px;
}
.link a{
    font-size: 48px;
    color: black;
}
.image{
    width: 600px;
    height: 200px;
    background-image: url(splash4.png);
    background-size: cover;
    z-index: 100;   
    position: absolute;
    top: 400px;
    left: 740px;
}
.image1{
    width: 400px;
    height: 500px;   
    background: url(myimage.png)no-repeat;
    background-size: contain;
    position: absolute;
    left: 900px;
    top: 0px;
}
button a:hover{
    background-color: black;
    transition: 0.3s;
    color: #fff5ee;
}
button:hover{
    background-color: black;
    z-index: -10;
}
.link a:hover{
 color: #fff5ee;
 transition: 0.3s;
}

.about{
    margin-top: 30px;
    width: 1300px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 25px;
}
.about h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}
#education{
    margin-top: 80px;
    margin-left: 10px;
}
.education{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    justify-content: space-evenly;
}
.school-box{
    height: 500px;
    width: 400px;
    border: 2px solid #fff5ee;
    border-radius: 10px;
    background-color: #fff5ee;
    font-weight: 500;
    font-size: 20px;
}
.school{
    height: 300px;
    width: 399px;
    border: 2px solid #fff5ee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(schoolphoto1.png)no-repeat;
    background-size: cover;
}
.puc-box{
    height: 500px;
    width: 400px;
    border: 2px solid #fff5ee;
    border-radius: 10px;
    background-color: #fff5ee;
    font-weight: 500;
    font-size: 20px;
}
.puc{
    height: 300px;
    width: 399px;
    border: 2px solid #fff5ee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(puc.jpg)no-repeat;
    background-size: cover;
}
.college-box{
    height: 500px;
    width: 400px;
    border: 2px solid #fff5ee;
    border-radius: 10px;
    background-color: #fff5ee;
    font-weight: 500;
    font-size: 20px;
}
.college{
    height: 200px;
    width: 399px;
    border: 2px solid #fff5ee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(college2.jpg)no-repeat;
    background-size: contain;
}
#skills {
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.skills{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
.skill{
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
}
.skillcontainer{
    height: 10px;
    width: 800px;
    border: 2px solid #fff5ee;
}
.html{
    height: 9px;
    width: 80%;
    background-color: rgb(172, 17, 81);
}
.skillcontainer1{
    height: 10px;
    width: 800px;
    border: 2px solid #fff5ee;
    margin-left: 22px;
}
.css{
    height: 9px;
    width: 70%;
    background-color: rgb(172, 17, 81);
}
.skillcontainer2{
    height: 10px;
    width: 800px;
    border: 2px solid #fff5ee;
    margin-right: 15px;
}
.js{
    height: 9px;
    width: 50%;
    background-color: rgb(172, 17, 81);
}
.skillcontainer3{
    height: 10px;
    width: 800px;
    border: 2px solid #fff5ee;
    margin-left: 12px;
}
.java{
    height: 9px;
    width: 60%;
    background-color: rgb(172, 17, 81);
}
.skillcontainer4{
    height: 10px;
    width: 800px;
    border: 2px solid #fff5ee;
    margin-left: 43px;
}
.c{
    height: 9px;
    width: 60%;
    background-color: rgb(172, 17, 81);
}
.skillcontainer5{
    height: 10px;
    width: 800px;
    border: 2px solid #fff5ee;
    margin-left: 22px;
}
.sql{
    height: 9px;
    width: 70%;
    background-color: rgb(172, 17, 81);
}
.projects{
    margin-left: 10px;
    margin-top: 80px;
}
.project{
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
    height: 250px;
    width: 1000px;
    border: 2px solid #fff5ee;
    border-radius: 10px;
    background-color: #fff5ee;
    
}
.psr{
    height: 249px;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    background: url(psr.jpg)no-repeat;
    background-size: cover;
}
.project p{
    width: 800px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}
.amazon{
    height: 249px;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    background: url(amazon.png)no-repeat;
    background-size: cover;
}

.chrome{
    height: 249px;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    background: url(googlechrome.png)no-repeat;
    background-size: cover;
}
.contact{
    margin-top: 80px;
    margin-left: 10px;
}
.contact-link{
    height: 50px;
    width: 400px;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 50px;
}
